// Use this file to overwrite the basic Bootstrap variables and add your own variables

$font-family-sans-serif: "Roboto", sans-serif, !default
$headings-font-family: "Roboto Slab", serif, !default
$headings-font-weight: 300 !default

$white:    #fff !default

$body-bg: #f0f6f3
$red: #CD4F64
$yellow: #cda06e
$green: rgb(119, 146, 86)

$primary: $red
$secondary: $yellow
$danger: rgb(244, 67, 54)

$jumbotron-bg: $secondary

$enable-rounded: false
$enable-shadows: true

$list-group-bg: #f0f6f3


$navbar-padding-y: 0
$navbar-padding-x: 0.1rem
$navbar-dark-color: $white !default
$navbar-dark-active-color: $white
$navbar-brand-padding-y: 0
