@import child_fonts

body.home main
  margin-top: 3em

body:not(.home) main
  margin-top: 1em

#right-sidebar
  margin-top: 2em

.single-header
  background-color: $jumbotron-bg
  padding-left: 1em
  padding-right: 1em
  padding-top: 3em

  &::first-letter
    font-size: 1.50em
    line-height: 0

.padding-top
  padding-top: 1em

// print
@page
  margin: 0

// Bustawin about page
$bustawin-about-logo-width: 10em
$bustawin-about-logo-padding: $bustawin-about-logo-width/2 + 0.5em

#bustawin-header
  z-index: 1
  padding-top: $bustawin-about-logo-padding/2
  padding-bottom: $bustawin-about-logo-padding

#bustawin-about
  width: $bustawin-about-logo-width
  position: absolute
  left: calc(50vw - #{$bustawin-about-logo-width/2})
  bottom: -$bustawin-about-logo-width/2

#bustawin-lead
  padding-top: $bustawin-about-logo-padding
  padding-bottom: $bustawin-about-logo-padding/2
  font-weight: bold

.navbar-brand
  font: italic 1.5em "Roboto Slab"
  text-shadow: 1px 1px 2px $primary / 2

@media print
  #bustawin-about
    width: 125px
    position: initial
    margin-right: 1em
  #bustawin-header
    padding: 1rem !important
  #bustawin-lead
    padding-top: $alert-padding-y
    padding-bottom: $alert-padding-y
  #experience, #contact
    border-top: none !important
    padding-top: 0 !important
    margin-top: 0 !important
  h2
    font-size: 28px
  p
    margin-top: 1rem

.page-break
  page-break-before: always


// eu cookie law
#eu_cookie_law_widget-3
  @extend .fixed-bottom
  @extend .container
  @extend .d-print-none

  > div
    @extend .alert
    @extend .alert-secondary

    form
      @extend .float-right
      // Remove extra padding of input button to center it
      margin-top: -$btn-padding-y-sm

      input
        @extend .btn
        @extend .btn-primary
        @extend .btn-sm

// General
h2
  @extend .border-top
  @extend .pt-3
  @extend .mt-3

// ez-toc (Table of contents)
#ez-toc-container
  @extend .alert
  @extend .alert-secondary
  @extend .ml-3
  @extend .float-right

  .ez-toc-title
    @extend .alert-heading
    @extend .h5

  .ez-toc-list
    @extend .list-unstyled

// code
code.prettyprint
  color: $cyan

.mivhak-code-wrapper
  @extend .alert
  @extend .alert-secondary
  @extend .p-1

  .meta
    @extend .h5
    @extend .text-center

    .text
      @extend .d-none

  pre
    @extend .m-0
    @extend .border

// Reply
#reply-title
  @extend .border-top
  @extend .border-primary
  @extend .mt-5
  @extend .pt-5

blockquote
  margin-left: 2em

  &:before
    content: '‟'
    font-size: 400%
    line-height: 0.7
    left: 0
    color: $primary
    position: absolute


.wp-block-table
  @extend .table
  @extend .table-striped
  @extend .table-borderless
  @extend .table-hover

  border: 1px solid $secondary
  & tr:first-child td
    background-color: $secondary !important
    font-weight: bold

